@{
    ViewData["Title"] = "Developers";
}



<body>
<div class="row">
    <div class="item-1 col">
            <p> <h1> Bill Benham </h1> </p>
            <img class="dev-img" src="~/css/Bill Benham.jpg" alt="Bill Benham" />
            <br />
            <a href="https://www.linkedin.com/in/william-benham-505nm/">
                <img id="contacticons" src="~/css/LinkedIn.jpg" alt="LinkedIn">
            </a>
            <a href="https://github.com/benhamw">
                <img id="contacticons" src="~/css/github.png" alt="Github">
            </a>
    </div>
        <div class="item-2 col">
            <p> <h1> Gage Stephens </h1> </p>
            <img class="dev-img" src="~/css/Gage Stephens.png" alt="Gage" />
            <br />
            <a href="https://www.linkedin.com/in/gagestephens234/">
                <img id="contacticons" src="~/css/LinkedIn.jpg" alt="LinkedIn">
            </a>
            <a href="https://github.com/Gage-Stephens">
                <img id="contacticons" src="~/css/github.png" alt="Github">
            </a>
        </div>
      <div class="item-4 col">
            <p> <h1> Samantha Johnson </h1> </p>
            <img class="dev-img" src="~/css/Samantha Johnson.jpg" alt="Samantha" />
            <br />
            <a href="https://www.linkedin.com/in/samanthajohnson11">
                <img id="contacticons" src="~/css/LinkedIn.jpg" alt="LinkedIn">
            </a>
            <a href="https://github.com/SamanthaJ2">
                <img id="contacticons" src="~/css/github.png" alt="Github">
            </a>
    </div>
    <div class="item-3 col">
            <p> <h1> Jack Jolliffe </h1> </p>
            <img class="dev-img" src="~/css/Jack Jolliffe.jpeg" alt="Jack" />
            <br />
            <a href="https://www.linkedin.com/in/jack-jolliffe/">
                <img id="contacticons" src="~/css/LinkedIn.jpg" alt="LinkedIn">
            </a>
            <a href="https://github.com/jjolliffe28">
                <img id="contacticons" src="~/css/github.png" alt="Github">
            </a>
    </div>
    <div class="item-5 col">

            <p> <h1> Matthew Gray </h1> </p>
            <img class="dev-img" src="~/css/Matthew Gray.png" alt="Matthew" />
            <br />
            <a href="https://www.linkedin.com/in/matthewcharlesgray/">
                <img id="contacticons" src="~/css/LinkedIn.jpg" alt="LinkedIn">
            </a>
            <a href="https://github.com/MatthewGray319">
                <img id="contacticons" src="~/css/github.png" alt="Github">
            </a>

    </div>
    <div class="item-6 col">
            <p> <h1> Zakariya Mohamed </h1> </p>
            <img class="dev-img" src="~/css/Zachariya Mohamed.jpg" alt="Zachariya" />
            <br />
            <a href="">
                <img id="contacticons" src="~/css/LinkedIn.jpg" alt="LinkedIn">
            </a>
            <a href="https://github.com/zak61">
                <img id="contacticons" src="~/css/github.png" alt="Github">
            </a>
    </div>
</div>
</body>
