body {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-image: linear-gradient( 320deg, hsl(180deg 99% 50%) 0%, hsl(86deg 18% 83%) 72%, hsl(16deg 100% 88%) 85%, hsl(16deg 100% 93%) 100% );*/
/*    background-image: linear-gradient( 215deg, hsl(108deg 54% 42%) 0%, hsl(190deg 35% 40%) 33%, hsl(329deg 23% 47%) 67%, hsl(0deg 99% 50%) 100% );
*/    background-image: linear-gradient( 140deg, hsl(204deg 99% 34%) 0%, hsl(132deg 65% 40%) 33%, hsl(108deg 54% 71%) 50%, hsl(0deg 100% 88%) 67%, hsl(0deg 99% 50%) 100% );
    overflow-y: scroll;
}

.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 150px;
    left: 0;
    background-color: transparent;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

    /* sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 25px;
        text-decoration: none;
        font-size: 20px;
        color: #4aa632;
        -webkit-text-stroke-width: .3px;
        background-color: transparent;
        display: block;
        transition: 0.3s;
    }

        /* mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: #0169ad;
        }

    /*the close button */
    .sidebar .closebtn {
        position: absolute;
        top: 0;
        font-size: 36px;
        margin-left: 10px;
    }

/* open the sidebar */
.openbtn {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    position: fixed;
    width: 30px;
    height: 30px;
}
/* red X that on click closes sidebar */
.redx {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: left;

}
/* Donut that on click opens sidebar */
.imgicon {
    
    width: 30px;
    height: 30px;
}
    .openbtn:hover {
    background-color: #0169ad;
}

#main {
    transition: margin-left .5s; /*transition effect */
    padding: 10px;
}
html {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    min-height: 100%;
}

img {
    width: 20%;
}


.barcodeImage {
    width: auto;
    height: auto;
}

.nav-image {
    display: block;
    width: 70px;
    height: 80px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.menu-header {
    width: 550px;
    margin: auto;
    background-color: gray;
    color: white;
    display: inline block;
    padding: 12px;
    border: 3px double white;
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
    font-size: 40px;
    text-align: center;
}

.menu {
    width: 700px;
    margin: auto;
    background-color: gray;
    color: white;
    display: inline block;
    padding: 12px;
    border: 3px double white;
    border-radius: 10%;
    font-size: 30px;
    text-align: left;
}

.scanner {
    align-items: center;
    font-size: 10px;
}

.search {
    margin: auto;
    color: white;
    width: 33%;
}

.table {
    background-color: white;
    border: 3px double black;
    width: fit-content;
    margin: auto;
    align-self: center;
    posotion
}

.center {
    display: flex;
    justify-content: center;
}

.link {
    color: darkred;
    cursor: pointer;
}

th, td {
    border: 2px solid black;
    width: fit-content;
}

caption {
    caption-side: top;
    text-align: start;
    font-size: 15px;
    color: white;
}

.page-header {
    width: 550px;
    margin: auto;
    background-color: gray;
    color: white;
    display: inline block;
    padding: 12px;
    border: 3px double white;
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
    font-size: 40px;
    text-align: center;
}

.footer {
    position: fixed;
    background: white;
}

nav a:hover {
    color: #0169ad;
    font-weight: bold;
}

ul a:hover {
    color: #0169ad;
    font-weight: bold;
}

ul a {
    color: white;
}

p a {
    color: white;
}

.reader {
    font-size: 10px;
}
/*.container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}*/
.dev-img {
    width: 200px;
    height: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-left: 40px;
}
.col {
    flex: 0 0 calc(15%);
    flex-basis: 30%;
    margin: 5px;
    text-align: center;
}

p {
    text-align: center;
}
#contacticons {
    padding-top: 3px;
    padding-bottom: 5px;
    border-radius: 25%;
}

@media only screen and (max-width:768px) {
    #no-more-tables tbody, #no-more-tables tr, #no-more-tables td {
        display: block;
    }

    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables td {
        position: relative;
        padding-left: 50%;
        border: none;
        border-bottom: 1px solid #eee;
    }

        #no-more-tables td:before {
            content: attr(data-title);
            position: absolute;
            left: 6px;
            font-weight: bold;
        }

    #no-more-tables tr {
        border-bottom: 1px solid #ccc;
    }

    body {
        background-repeat: no-repeat;
    }

    .page-header {
        width: 300px;
        margin: auto;
        background-color: gray;
        color: white;
        display: inline block;
        padding: 12px;
        border: 3px double white;
        border-bottom-left-radius: 40%;
        border-top-right-radius: 40%;
        font-size: 20px;
        text-align: center;
    }

    .menu-logo {
        width: 10%;
    }

    .menu-header {
        width: 300px;
        font-size: 15px;
    }

    .menu {
        width: 300px;
        font-size: 15px;
    }
}

@media only screen and (max-width:500px) {
    tbody, tr, td {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        position: relative;
        padding-left: 50%;
        border: none;
        border-bottom: 1px solid #eee;
    }

        td::before {
            content: attr(data-title);
            position: absolute;
            left: 6px;
            font-weight: bold;
        }

    tr {
        border-bottom: 1px solid #ccc;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #f3f5f9;
}

/*.wrapper {
    display: flex;
    position: relative;
}
*/

    /*.wrapper .sidebar {*/ /*  this */
        /*height: 100%;*/ /* 100% Full-height */
        /*width: 0;*/ /* 0 width - change this with JavaScript */
        /*position: fixed;*/ /* Stay in place */
        /*z-index: 1;*/ /* Stay on top */
        /*top: 0;
        left: 0;
        background-color: transparent;
        overflow-x: hidden;*/ /* Disable horizontal scroll */
        /*transition: 0.5s;*/ /* 0.5 second transition effect to slide in the sidebar */
    /*}

        .wrapper .sidebar h2 {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }

        .wrapper .sidebar ul li {
            padding: 15px;
            border-bottom: 1px solid #bdb8d7;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-top: 1px solid rgba(255,255,255,0.05);
        }

            .wrapper .sidebar ul li a {*/ /*  this */
                /*color: #fcfcfc;
                display: block;
            }

                .wrapper .sidebar ul li a .fas {
                    width: 25px;
                }

            .wrapper .sidebar ul li:hover {
                background-color: #01111a;
            }

                .wrapper .sidebar ul li:hover a {
                    color: #fff;
                }

        .wrapper .sidebar .social_media {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }

            .wrapper .sidebar .social_media a {
                display: block;
                width: 40px;
                background: #dbdbdb;
                height: 40px;
                line-height: 45px;
                text-align: center;
                margin: 0 5px;
                color: #02010a;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

    .wrapper .main_content {
        width: 100%;
        margin-left: 200px;
    }

        .wrapper .main_content .header {
            padding: 20px;
            background: #fff;
            color: #717171;
            border-bottom: 1px solid #e0e4e8;
        }

        .wrapper .main_content .info {
            margin: 20px;
            color: #717171;
            line-height: 25px;
        }

            .wrapper .main_content .info div {
                margin-bottom: 20px;
            }

            .wrapper .sidebar .nav-image {
                text-align: center;
            }*/
